:root {                         /* Del más claro al más oscuro*/
    --color1: rgb(224, 173, 227);          
    --color2: rgb(198, 56, 193);
    --color3: rgb(160, 18, 167);
    --color4: rgb(119, 33, 116);
    --color5: rgb(109, 38, 114);

    --colorMale: rgba(0, 0, 0, 0.7);
    --colorFemale: rgba(224, 173, 227,0.7);
    --colorKids: rgba(164, 157, 157, 0.7);
    --colorBoxShadow: ;
}

#hero {
  border-top: 1px solid rgb(230, 224, 224);
  border-bottom: 2px solid black;
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.4)),url('../src/background/main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 163px);                      /* Le resto los px del nav y el borde separador */
  object-fit: cover;
}

section h1 {
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section h1:hover {
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

body {
  font-family: 'Nixie One';
  margin: 0;
  padding: 0;
}

nav {
  background: linear-gradient(-90deg, rgba(109, 38, 114,0.8),rgba(109, 38, 114,0));
  height: 160px;
}

p {
  margin: 0;
  font-size: 1.6em;
}

h1 {
  text-align: center;
  color: var(--color1);
  font-size: 5em;
}

.menu {
    color: var(--color2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0;
}

#logo_nav {
  width: 150px;
  height: 150px;
  margin: 8px 0 0 8px;
}

.opciones {
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
}

a {
  text-decoration: none;
}


.opcion {
  color: var(--color3);
  display: flex;
  font-size: 4rem;
  margin-bottom: 2px;
  padding: 0.2em 1.2em;
  transition: 0.5s;
  border-radius: 30px;
}

.opcion:hover {
    background-color: var(--color2);
    color: var(--color1);
}


.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.categoria {
  transition: 0.3s ease;
}

.categoria:hover {
  box-shadow: 0px 0px 40px 5px var(--colorBoxShadow);
}

#categoria-hombre:hover {
  
  box-shadow: 0px 0px 40px 9px var(--colorMale);
}

#categoria-mujer:hover {
  
    box-shadow: -7px 0px 40px -4px rgba(19, 162, 228,0.7), 7px 0px 40px -4px rgb(254, 98, 230);
   
}

#categoria-niños:hover {
  --colorBoxShadow: var(--colorKids)
}

.foto {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px;
}

img {
  width: 350px;
  height: 350px;
  transition: 0.3s; 
}

.categoria:hover img {
  transform: scale(1.05);
}

.descripcion {
  background-color: rgb(254, 253, 252);
  color:black;
  height: 35px;
}

.link1:link, .link1:visited {
  color: var(--color3)
}

p:hover {
  font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5vh;
}