* {
    margin: 0px;
    padding: 0px;
}

#hero {
    display: flex;    
    justify-content: center;
    align-items: flex-start;   
}

.container {
    margin: 22vh 0;
    flex-wrap: wrap;
    gap: 30px;    
}

.titulo-catalogo {
    color:white;
}

.tarjeta {
    position: relative;
    width: 250px;
    height: 250px;
    flex-direction: column;
    font-size: .35em;
}

.tarjeta div {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    backface-visibility: hidden;
    transition: .7s ease;
    border-radius: 10px 10px 10px 10px;
}

.frente, .dorso{
    padding: 2em 2em 0 2em;
}

.tarjeta .frente {
    flex-direction: column;
    text-align: center; 
    background: white;
    transform: perspective(500px) rotateY(0deg);
}

.tarjeta .dorso {
    flex-direction: column;
    text-align: center;
    background: white;    
    transform: perspective(500px) rotateY(-180deg);
}

.tarjeta-derecha .dorso {
    flex-direction: column;
    text-align: center;
    background: white;    
    transform: perspective(500px) rotateY(180deg);
}

.tarjeta-izquierda:hover  .frente {
    transform: perspective(500px) rotateY(-180deg);
}

 .tarjeta-izquierda:hover .dorso {
    transform: perspective(500px) rotateY(-360deg);
}


.tarjeta-derecha:hover  .frente {
    transform: perspective(500px) rotateY(180deg);
}

 .tarjeta-derecha:hover .dorso {
    transform: perspective(500px) rotateY(360deg);
}

.tarjeta img {
    width: 160px;
    height: 160px;
}

.tarjeta .frente  h1, .tarjeta .dorso h1 {
    
    color: rgb(0, 0, 0);
}


#gmail {
    margin: -23px;
    width: 200px;
    height: 200px;
}

#gmail-text {
    font-size: 4em;
}

h1 {
    font-size: 17px;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}